<div class='devise_form sign_up_container'>
    <div id='logo'>YumHacker</div>

    <div class='form_container card'>
        <h2>Sign up</h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class='inputs_container'>
              <div class='field'><%= f.label :first_name %><br />
              <%= f.email_field :first_name, :autofocus => true %></div>

              <div class='field'><%= f.label :last_name %><br />
              <%= f.email_field :last_name %></div>

              <div class='field'><%= f.label :email %><br />
              <%= f.email_field :email %></div>

              <div class='field'><%= f.label :password %><br />
              <%= f.password_field :password %></div>

              <div class='field'><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation %></div>
          </div>

          <div><%= f.submit "Sign up" %></div>
        <% end %>
    </div>
    <%= render "devise/shared/links" %>
</div>
