<header></header>
<section>
  <div class='devise_form' id='sign_up_container'>

      <div class='form_container card border'>
          <h3>Sign up</h3>
        
            <% if flash[:error] %>
                <div class="error"><%= flash[:error] %></div>
            <% end %>
            <%= devise_error_messages! %>

          <div id='social_links_container'>
            <div class='social_link'>
              <%= link_to image_tag('fb_signup.svg'), user_omniauth_authorize_path(:facebook), :class => 'facebook' %>
            </div>
            <div class='social_link'>
              <%= link_to image_tag('twitter_signup.svg'), user_omniauth_authorize_path(:twitter), :class => 'twitter' %>
            </div>
            <p>We'll never post anything to your <br> account without your permission.</p>
          </div>

          <div class='or'>- or -</div>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

            <div class='inputs_container'>
                <div class='field'><%= f.label :first_name %><br />
                <%= f.text_field :first_name, :autofocus => true, :class=> 'text_input' %></div>

                <div class='field'><%= f.label :last_name %><br />
                <%= f.text_field :last_name, :class=> 'text_input' %></div>

                <div class='field'><%= f.label :email %><br />
                <%= f.email_field :email, :class=> 'text_input' %></div>

                <div class='field'><%= f.label :password %><br />
                <%= f.password_field :password, :class=> 'text_input' %></div>

                <div class='field'><%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, :class=> 'text_input' %></div>
                
                <div class='center'><%= f.submit "Sign up", :class => 'btn text' %></div>
            </div>
          <% end %>
      </div>

      <div class='devise_links'>
        <%= render "devise/shared/links" %>
      </div>
  </div>
</section>
<footer></footer>
