<div class='devise_form sign_up_container'>
    <a id='logo' href="/">YumHacker</a>

    <div class='form_container card'>
        <h3>Sign up</h3>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class='inputs_container'>
              <div class='field'><%= f.label :first_name %><br />
              <%= f.text_field :first_name, :autofocus => true %></div>

              <div class='field'><%= f.label :last_name %><br />
              <%= f.text_field :last_name %></div>

              <div class='field'><%= f.label :email %><br />
              <%= f.email_field :email %></div>

              <div class='field'><%= f.label :password %><br />
              <%= f.password_field :password %></div>

              <div class='field'><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation %></div>
              
              <div class='center'><%= f.submit "Sign up", :class => 'btn' %></div>
          </div>
        <% end %>
    </div>

    <div class='devise_links'>
      <%= render "devise/shared/links" %>
    </div>
</div>
