<% content_for(:title, "Sign Up | Yumhacker") %>

<div class='devise_form' id='sign_up_container'>
    <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
    <% end %>

    <div class='form_container card border'>
        <h3>Almost Done!</h3>
        <p>Please enter your email</p>

        <div class='inputs_container'>
            <%= form_for @user, :url => facebook_path do |f| %>
                <%= f.hidden_field :first_name, :value => @user.first_name %>
                <%= f.hidden_field :last_name, :value => @user.last_name %>
                <%= f.hidden_field :location, :value => @user.location %>
                <%= f.hidden_field :avatar, :value => @avatar %>
                <%= f.hidden_field :uid, :value => @user.uid %>
                
                <div class='field'><%= f.email_field :email, :autofocus => true, :class=> 'text_input', :placehlder => 'joe@example.com' %></div>

                <div class='center'><%= f.submit "Finish", :class => 'btn text' %></div>
            <% end %>
        </div>
    </div>
</div>