<div class='devise_form' id='sign_in_container'>
    <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
    <% end %>

    <a class='logo' href="/">YumHacker</a>

    <div class='form_container card border'>
        <h3>Sign In</h3>

        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>

        <div class='inputs_container'>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class='field'><%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true, :class => 'text_input' %></div>

              <div class='field'><%= f.label :password %><br />
              <%= f.password_field :password, :class => 'text_input' %></div>

              <% if devise_mapping.rememberable? -%>
                <div class='field check'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end -%>

               <div class='center'><%= f.submit "Sign in", :class => 'btn text' %></div>
            <% end %>
        </div>
    </div>

    <div class='devise_links'>
      <%= render "devise/shared/links" %>
    </div>
</div>
