<header></header>
<section>
  <div class='devise_form' id='sign_in_container'>
      <a class='logo' href="/">YumHacker</a>

      <div class='form_container card border'>
          <h3>Sign In</h3>

          <div id='social_links_container'>
            <div class='social_link'>
              <%= link_to image_tag('fb_signin.svg'), user_omniauth_authorize_path(:facebook), :class => 'facebook' %>
            </div>
            <div class='social_link'>
              <%= link_to image_tag('twitter_signin.svg'), user_omniauth_authorize_path(:twitter), :class => 'twitter' %>
            </div>
            <p>We'll never post anything to your account.</p>
          </div>

          <div class='or'>- or -</div>
    
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
         
            <% if flash[:alert] %>
              <div class='message'>
                <h2>Uh oh...</h2>
                <div class="alert"><%= flash[:alert] %></div>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div class='message'>
                <h2>Uh oh...</h2>
                <div class="error"><%= flash[:error] %></div>
              </div>
            <% end %>
            <% if flash[:notice] %>
              <div class='message'>
                <h2>Uh oh...</h2>
                <div class="notice"><%= flash[:notice] %></div>
              </div>
            <% end %>

            <div class='inputs_container'>
              <div class='field'><%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true, :class => 'text_input' %></div>

              <div class='field'><%= f.label :password %><br />
              <%= f.password_field :password, :class => 'text_input' %></div>

              <% if devise_mapping.rememberable? -%>
                <div class='field check'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end -%>

               <div class='center'><%= f.submit "Sign in", :class => 'btn text' %></div>
            </div>
        <% end %>
      </div>

      <div class='devise_links'>
        <%= render "devise/shared/links" %>
      </div>
  </div>
</section>
