<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Yumhacker | Find restaurants endorsed by people you trust" %>
  </title>

  <meta name='description' content="<%= content_for?(:description) ? yield(:description) : 'Find San Francisco, CA restaurants and bars endorsed by people you trust. Get restaurant and bar photos, reviews, hours and more!' %>" >

  <meta charset='utf-8'>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= YAML.load_file('config/config.yml')['google_places_api_key'] %>&sensor=false">
    </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta property="og:image" content="http://yumhacker.com/fb_icon.png">

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class='yumhacker'>
	<%= yield %>
  <% if current_user.try(:admin?) %>
    <a id='admin_establishment_edit' href=''>edit</a>
    <script>
      $('#admin_establishment_edit').on('click', function (e) {
        e.preventDefault();
        var establishment_id = window.location.pathname.replace(/^.*\//, '');
        var establishment_edit_path = '/restaurants/' + establishment_id + '/edit';
        window.location = establishment_edit_path;
      });
    </script>
  <% end %>
</body>
</html>
