<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Yumhacker | Find restaurants recommended by people you trust" %>
  </title>

  <meta name='description' content="<%= content_for?(:description) ? yield(:description) : 'Find and share the best restaurants and bars in San Francisco recommended by people you trust. Create lists of your favorite restaurants to share and see the places other foodies think are the best. Get restaurant and bar photos, reviews, hours and more!' %>" >

  <meta charset='utf-8'>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= YAML.load_file('config/config.yml')['google_places_api_key'] %>&sensor=false">
    </script>

  <script type="text/javascript">
    <% if Rails.env.production? %>   
      // MixPanel 
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("9d153a5b7ac46afb2c08b54fc2fb95e0");
    <% else %>
      mixpanel = { track: function () {} };
    <% end %>
  </script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta property="og:image" content="http://yumhacker.com/fb_icon.png">

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class='yumhacker'>
	<%= yield %>
  <% if current_user.try(:admin?) %>
    <a id='admin_establishment_edit' href=''>edit</a>
    <script>
      $('#admin_establishment_edit').on('click', function (e) {
        e.preventDefault();
        var establishment_id = window.location.pathname.replace(/^.*\//, '');
        var establishment_edit_path = '/restaurants/' + establishment_id + '/edit';
        window.location = establishment_edit_path;
      });
    </script>
  <% end %>
</body>
</html>
