<!DOCTYPE html>
<html>
<head>
  <title>Yumhacker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name + '_' + controller.action_name %>">
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
